<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Command line tool for statistical analysis of a git repository">
    <meta name="author" content="Deep Aggarwal">
    <title>git-snoop</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico">

  <style>
    .container {
      margin-top: 50px;
      width: 80%;
    }
  </style>
  </head>
  <body>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4">
          Name of the Repository
        </div>
        <div class="col-md-4">
          First commit date
        </div>
        <div class="col-md-4">
          Main Author (Most commits)
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          Current Status
        </div>
        <div class="col-md-4">
          Authors Contributions
        </div>
        <div class="col-md-4">
          Languages Statistics
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          Branches
        </div>
        <div class="col-md-4">
          Filetypes
        </div>
        <div class="col-md-4">
          Commit Logs
        </div>
      </div>
    </div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </body>
</html>
